.header {
    padding: 24px 0;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-inner__btns-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

button.header-inner__btn.js-open-menu {
    background: transparent;
    padding: 0;
}

a.header-navigation__list-item-link.link {
    font-size: 20px;
}

.mobile-menu-inner__btn {
    background: transparent;
    padding: 0;
}

ul.header-inner__list {
    display: none;
}


.js-menu-container.is-open {
    transform: translateY(0%);

}

.mobile-menu {
    transform: translateY(-110%);
    background-color: var(--grey);
    position: fixed;
    width: 100%;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 1000;
    padding: 0 16px;
    transition: transform 300ms;
}

.mobile-menu-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    padding: 24px 0;
}

button.mobile-menu-inner_btn.js-close-menu {
    background: transparent;
    padding: 0;
}

.mobile-menu-inner_btns-top {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: flex-end;
}

ul.mobile-menu__list {
    gap: 49.4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul.mobile-social-list {
    display: flex;
    gap: 24.3px;
}

.mobile-menu__item-link {
    font-size: 18px;
}

li.mobile-social-item {
    padding: 10px;
    border-radius: 62px;
    border: 1px solid var(--white);
    height: 54px;
    transform: scale(0.74);
}

.mobile-menu-inner__btn {
    background: transparent;

}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    align-items: center;
    gap: 30px;
}

.mobile-inner__btns-right {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row-reverse;
}

a.mobile-navigation__list-item-link {
    font-size: 20px;
}

.hero-inner {
    padding: 32px 0;
}

h1.hero-inner__title, h2.hero-inner__title-down {
    font-family: 'Abhaya Libre', sans-serif;
    font-size: 72px;
    font-weight: 400;
}

h2.hero-inner__title-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 49px;
}

.hero__logo {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    z-index: 2;
    left: 8px;
    top: 24px;
}

.about-me__blur {
    border-radius: 405px;
    background-color: #D7278B;
    filter: blur(24.5px);
    width: 178px;
    height: 154px;
    position: absolute;
    z-index: -1;
}

.hero-inner__about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p.hero-inner__logo-smm {
    width: 178px;
    padding-left: 11px;
    font-family: 'Abhaya Libre', sans-serif;
    font-size: 42px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 2.52px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-inner__about-me span {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1px;
}

.hero-inner__photo {
    position: relative;
    height: 100vh;
    overflow: hidden;
    bottom: 17px;
    max-height: 470px;
}

.hero-inner__photo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/hero-maria.jpg');
    background-repeat: no-repeat;
    border-radius: 0 56px 0 0;
    z-index: -1;
}

