.hero-inner {
    padding: 32px 0;
}

h1.hero-inner__title, h2.hero-inner__title-down {
    font-family: 'Abhaya Libre', sans-serif;
    font-size: 72px;
    font-weight: 400;
}

h2.hero-inner__title-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 49px;
}

.hero__logo {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    z-index: 2;
    left: 8px;
    top: 24px;
}

.about-me__blur {
    border-radius: 405px;
    background-color: var(--pink);
    filter: blur(24.5px);
    width: 178px;
    height: 154px;
    position: absolute;
    z-index: -1;
}

.hero-inner__about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p.hero-inner__logo-smm {
    width: 178px;
    padding-left: 11px;
    font-family: 'Abhaya Libre', sans-serif;
    font-size: 42px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 2.52px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-inner__about-me span {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1px;
}

.hero-inner__photo {
    overflow: hidden;
    bottom: 17px;
    border-radius: 0 56px 0 0;
}

.hero-inner__photo > img {
    border-radius: 0 56px 0 0;
}
