@media screen and (min-width: 768px) {
    .hero-inner {
        margin: 0 0 165px 0;
        position: relative;
        padding-top: 91px;
    }

    .hero__button {
        display: block;
    }

    .hero-inner__title,.hero-inner__title-down{
        font-size: 110px;
        line-height: 130px;
    }
    .hero-inner__title{
        position: absolute;
        top: 13px;
        left: 21px;
    }

    .hero-inner__title-down {
        position: absolute;
        left: 212px;
        bottom: -70px;
    }

    .hero__logo{
        position: absolute;
        left: 0;
        right: 25px;
        top: 40px;
    }

    .hero-inner__about-me{
        width: 269.948px;
        height: 232px;
    }
    .about-me__blur{
        width: 269.948px;
        height: 232px;
        background-size: cover;
    }
    .hero-inner__logo-smm{
        font-size: 72px;
        line-height: 85px;
        letter-spacing: 4.32px;
    }
    .hero-inner__logo-smm span{
        font-size: 16px;
        line-height: 19px;
    }

    .hero-inner__photo{
        display: flex;
        justify-content: center;
        position: relative;
        z-index: -2;
        bottom: 0;
    }

    .hero-inner__photo > img{
        width:459px;
        height: 623px;
        object-fit: cover;
        border-radius: 0 72px 0 0;
    }

    .hero__button{
        position: absolute;
        bottom: -119px;
        right: 0;
    }

}