.services-background-logo{
    display: none;
}

.services-inner {
    margin-top: 68px;
    margin-bottom: 32px;

}

.services__title {
    font-family: Abhaya Libre, sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 31px;
    margin-bottom: 24px;
}

.swiper-slide.swiper-slide-services.swiper-slide-active {
    margin: 0 0 24px 0;

}

.swiper-slide,.swiper-slide-style {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-slide:hover{
    background-color: var(--pink);
}

.swiper-slide-style {
    padding: 42px 36px;
    border-radius: 24px;
    border: 1px solid var(--white);
}

.slide__title {
    font-family: Abhaya Libre, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    margin-bottom: 32px;
}

.slide-text-list, .slide-text {
    font-family: Abhaya, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.slide-text-list-tablet{
    display: none;
}

.slide-button {
    border-radius: 10px;
    border: 1px solid var(--white);
    font-size: 12px;
    background-color: transparent;
    color: var(--white);
    padding: 10px 15px;
    display: inline-block;
}


.slide__title-pages {
    font-family: Abhaya Libre, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 32px;
}

.slide-text-list-pages, .slide-text-pages {
    font-family: Abhaya, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.swiper-slide-long {
    padding: 42px 36px;
    border-radius: 24px;
    border: 1px solid var(--white);
}

.s-button {
    display: flex;
    gap: 46px;
    justify-content: center;
    flex-direction: row;
}

.s-button-prev, .s-button-next {
    padding: 10px;
    fill: var(--white);
    cursor: pointer;
    background-color: transparent;
}

.s-button-prev:hover{
    fill: var(--yellow);
}

.s-button-next:hover{
    fill: var(--yellow);
}

.services-swiper {
    display: flex;
}
