.terms-of-cooperation{
    position: relative;
}

.terms-of-cooperation::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: var(--pink);
    filter: blur(17px);
}


.terms-of-cooperation__inner{
    padding: 40px 0 32px 0;
}

.terms-of-cooperation__title {
    font-family: Actor, sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 31px;
    margin-bottom: 24px;
}

.terms-of-cooperation__photo{
    border-radius: 0 56px 0 0;
    margin: auto;
}

.terms-of-cooperation__text1{
    margin-top: 24px;
}

.terms-of-cooperation__list{
    padding-left: 11px;
}

.terms-of-cooperation__text1,.terms-of-cooperation__text2,.terms-of-cooperation__list{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.terms-of-cooperation__text2{
    margin-bottom: 24px;
}

.terms-of-cooperation__button{
    font-family: Actor, sans-serif;
    padding: 12.5px 27px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    border-radius: 24px;
    border: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
}

