@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding: 0 32px;
    }

    .terms-of-cooperation__inner {
        padding: 40px 32px;
        position: relative;
    }

    .terms-of-cooperation__title{
        font-size: 32px;
        line-height: 38px;
    }

    .terms-of-cooperation__photo{
        width: 382px;
        height: 521px;
        border-radius: 0 70px 0 0;
        margin: 32px 0;
        padding: 0;
    }

    .terms-of-cooperation-logo1-tablet-desktop, .terms-of-cooperation-logo2-tablet-desktop {
       position: absolute;
        display: flex;
    }

    .terms-of-cooperation-logo1-tablet-desktop {
        top: 68px;
        right: -25px;
    }

    .terms-of-cooperation-logo2-tablet-desktop {
        bottom: 345px ;
        right: -25px;
    }

    .terms-of-cooperation__inner-text{
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 32px;
    }

    .terms-of-cooperation__button{
        font-size: 16px;
        line-height: 19px;
        padding: 17px 43.5px;
        width: 231px;
        height: 53px;
        margin-top: 32px;
        border-radius: 51px;
    }

}